<script type="text/javascript" charset="utf-8">
	function status(){
		$('confirm').insert( { before: '<div id="status" class="light"><h2 class="green"><span class="message">Import in Progress...</span></h2><p class="message"><img src="/images/spinner.gif" /></p><p class="message">Your blog is currently being imported...</p></div>' } )
		$('confirm').remove()
	}
</script>

<h1 class="orange">WordPress Import</h1>

<div id="confirm" class="light">
	<div id="guess">
		<p>Starting this import will add <%= pluralize(@import.posts_guess, 'blog post') %>,  <%= pluralize(@import.comments_guess, 'comment') %>, and <%= 		pluralize(@import.pages_guess, 'page') %> from <a href="<%= @import.original_url %>"><%= @import.blog_title %></a> to a new Shopify blog in your shop.</p>
	</div>

	<br />
	<div id="buttons">
		<% form_remote_tag :url => '/word_press/import', :loading => 'status()' do %>
			<input type="hidden" name="id" value="<%= @import.id%>" />
			<%= submit_tag 'Start Import' %> or <%= link_to 'Cancel', '/' %></p>
		<% end %>
	</div>
</div>

<div class="box">
	<div class="wrapper">
		<p>
			The import may take a long time, depending on the size of your import file. If you are importing a blog with a lot of history (lots of articles and comments), then the uploading process may take a while.
		</p>
		<p>
			Please be patient :)
		</p>
	</div> 
</div>