
<p>You will be importing <%= pluralize(@import.posts_guess, 'post') %>,  <%= pluralize(@import.pages_guess, 'page') %>, and <%= pluralize(@import.comments_guess, 'comment') %> from <a href="<%= @import.original_url %>"><%= @import.blog_title %></a>.</p>

<p>Do you want to continue?<br />

<%= link_to 'Yes', :action => 'import', :type => params[:type], :id => @import.id %> or <%= link_to 'No', '/' %></p>