<h1 class="orange">osCommerce Import</h1>

<div id="confirm" class="light">
	<div id="guess">
	  <p>This import job will add <%= pluralize(@import.guesses['product'], 'product') %> to <a href="http://<%= current_shop.url %>">your Shopify shop</a> from <a href="<%= @import.base_url%>">your osCommerce shop</a>.</p>		
	  <p class="note">
	    Just so you know, this process cannot be canceled or undone. <strong>Any changes to your shop will be permanent</strong>.
    </p>
	</div>

	<br />
	<div id="buttons">
		<% form_remote_tag :url => '/os_commerce/import' do %>
			<input type="hidden" name="id" value="<%= @import.id%>" />
			<%= submit_tag 'Start Import', :disable_with => "Starting..." %> or <%= link_to 'Cancel', '/' %></p>
		<% end %>
	</div>
</div>

<div class="box">
	<div class="wrapper">
		<p class="note">
			The import may take a long time, depending on the size of your import file. If you are importing a shop with lots of products, then the uploading process may take a while.
		</p>
		<p class="note">
			Please be patient :)
		</p>
	</div> 
</div>