<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
 
  <title>Importer</title>
 
  <%= stylesheet_link_tag 'application', 'table' %>
  <%= javascript_include_tag :defaults %>   
</head>
  
<body>
  
  <div id="header">
    <h1><%= link_to 'Importer', '/' %></h1>

	<p id="login-link">  
		<% if current_shop %>
	    	<span class="note">current shop</span> <%= link_to current_shop.url, "http://#{current_shop.url}", :id => 'shop_url' %> <span class="note">|</span> 					
			<%= link_to 'logout', :controller => "login", :action => 'logout' %>
		<% else %>
	    	<span class="note">current shop</span> none <span class="note">|</span> 					
			<%= link_to 'login', :controller => "login", :action => 'index' %>			
		<% end %>
	</p>
  </div>
  


  <div id="container" class="clearfix">
    
    <% unless controller.class.name =~ /Login/ %>
      <div id="tabs">
        <%= link_to 'Home', root_path, :id => controller.controller_name =~ /dash/ ? 'current' : 'Home' %>
        <%= link_to 'Wordpress', '/word_press/new', :id => controller.controller_name =~ /word_press/ ? 'current' : 'wordpress'  %>
        <%= link_to 'osCommerce', '/os_commerce/new', :id => controller.controller_name =~ /os_commerce/ ? 'current' : 'oscommerce'  %>
        <%= link_to 'eBay', '/ebay/new', :id => controller.controller_name =~ /ebay/ ? 'current' : 'ebay'  %>
      </div>
    <% end %>
  
    <!-- Flash error & notice-->
    <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
    <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
    <!-- begin div.main-->
    <div id="main">
      <%= @content_for_layout %>
    </div>
    <!-- end div.main -->
        
  </div>
    
</body>
</html>